<div class="container posts-page" ng-controller="PostsCtrl as postsCtrl">
  <div class="post row" ng-repeat="post in postsCtrl.posts">
    <div class="col-xs-1"></div>
    <div class="col-md-9 col-xs-11">

      <div class="info">
        <a ng-href="{{post.url | hostnameFromUrl}}">
          {{post.title}}
          <span class="url">({{post.url}})</span>
        </a>
      </div>

      <div>
        <span>submitted by <a ng-href="#/users/{{post.creatorUID}}">{{post.creator}}</a></span>
        &mdash;
        <a ng-href="#/posts/{{post.$id}}">comments</a>
        <a ng-click="postsCtrl.deletePost(post)"
           ng-show="postsCtrl.user.uid === post.creatorUID">delete</a>
      </div>
    </div>
  </div>
</div>
